.movie-details h3 {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.movie-info {
    background: #282c34;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    color: #F1F1F2;
    width: 60%;
    height: 420px;
    margin-left: 20%;
    float: left;
}

.movie-info img {
    height: 50vh;
    width: 50vh;
}

.movie-details button a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.details-comments {
    background: white;
    height: calc(100% - 40px);
    top: -30px;
    position: relative;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.middle-con {
    position: relative;
    justify-content: space-around;
}

.movie-header 
.director,
.actors,
.genre,
.plot,
.runtime {
    font-size: 27px;
}

.details-btns {
    float: right;
    font-size: 25px;
}

.details-btns button {
    margin-left: 7px;
}

.comment-article {
    background: white;
    height: calc(100% - 40px);
    top: -30px;
    position: relative;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.no-comment {
    font-size: 24px;
}

.comment-article label {
    color: #282c34;
}