.pagination-container {
    float: left;
    text-decoration: none;
    font-size: 20px;
    margin-left: 85%;
    margin-top: 30%;
    position: absolute;
}

.pagination-ul button {
    font-size: 15px;
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 2px;
    background: #68c950;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
    margin-left: 5px;
}

.pagination-ul button:hover {
    background: #282c34;
    color: white;
}