.message-box {
    position: center;
    left: 50%;
    color: white;
    font-weight: 50px;
    text-align: center;
    height: calc(70% - 40px);
}

.message-box h1 {
    font-size: 150px;
    line-height: 46px;
    margin-bottom: 0px;
    margin-top: 100px;
}

.message-box p {
    font-size: 40px;
    margin-top: 28px;
}

.message-box a {
    background: #68c950;
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 17px;
    transition: all 0.2s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px
}

.message-box a:hover {
    background-color: #282c34;
    color: white;
}