.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282c34;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.navigation li {
    float: left;
}

.navigation li:hover {
    background-color: black;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white !important;
}

.nav-active {
    background-color: black;
}

.navigation span {
    color: white;
    background-color: red;
        margin-top: 50px !important;
}