.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282c34;
}

.navigation li {
    /* display: inline; */
    float: left;
}

.navigation li:hover {
    background-color: black;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-active {
    background-color: black !important;
}