input[type=number] {
    width: 20%;
}

input[type=text] {
    width: 30%;
}

#submit {
    background: #68c950;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 23px;
    transition: all 0.2s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px
}

#submit :hover {
    background-color: #282c34;
}

.create-form {
    background: #282c34;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    color: #F1F1F2;
    /* position: fixed; */
    width: 70%;
    margin-left: 20%;
}

.create-div h3 {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
    margin-left: 30%;
    text-align: center;
    margin-bottom: 20px;
}